.test {
    color: red;
}

.test-2 {
    color: black;
}

.header {
    color: blue;
    background-color: green;
    width: 1000px;
}

body {
    background-color: red; 
}

.box {
    position: absolute;
    display: inline-block;
    background-color: yellow;
    width: 100px;
    height: 100px;
}